#leftMenu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 5fr;
  height: 100%;
  border-right: 3px solid $color-primary-0;
}

#navigationArrows {
  display: flex;
  border-radius: 20px;
  background-color: black;
  border: 1px white solid;
  padding: 5px;
  height: min-content;
  width: 60%;
  justify-content: space-between;
  margin: 20px auto 0 auto;

  .arrows {
    background-color: transparent;
    height: min-content;
    display: flex;
    flex-direction: column;

    & > i {
      background-color: transparent;
      border: 1px white solid;
      border-radius: 50%;
      margin: auto 0;
      padding: 2px;
      background-color: rgb(51, 51, 51);

      &:hover {
        background-color: $color-secondary-1-2;
        cursor: pointer;
      }
    }
  }

  #arrowForward {
    margin-right: 5px;
  }

  #arrowBack {
    margin-left: 5px;
  }
}

#notifications {
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 80%;
  border-radius: 20px;
  padding: 5px;
  border: 1px white solid;
  background-color: black;
  height: min-content;
  padding: 8px;
  margin: auto;
}

#newNotifications {
  width: 23px;
  height: min-content;
  border-radius: 50%;
  color: white;
  background-color: red;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
}

#noNewNotifications {
  width: 20px;
  height: min-content;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
  background-color: gray;
  border: 1px gray solid;
}

#searchButton,
#logOutButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  width: auto;
  height: 40px;
  background-color: black;
  border-radius: 5px;

  & > p {
    margin: auto;
    background-color: black;
  }
}

#logOutButton {
  margin: auto 10px 10px 10px;
}
