#notificationsPopUp {
    width: auto;
    height: min-height;
    left: 50px;
    top: 15px;
    position: fixed;
    border: 1px white solid;
    z-index: 100;
    background-color: rgb(31, 30, 30);

    & > button {
        background-color: red;
        margin: 10px
    }

    & > h3 {
        background-color: transparent;
        margin: 10px 0;
        text-align: center;
    }
    
}

#scroll {
    width: auto;
    height: 300px;
    overflow-y:scroll;
    background-color: transparent;
    
    & > div:first-child {
        border-top: 1px gray solid;
    }
}

#notification {
    width: auto;
    margin: 0 10px;
    padding: 5px;
    border-bottom: 1px gray solid;
    background-color: transparent;

    & b {
        font-weight: bold;
        background-color: transparent
    };
    
    & > p, div, em, #songAndVideoButtons {
        background-color: transparent;
    }

    &  > #songAndVideoButtons, button  {
        margin: 5px 0 0 10px;
    }

    & button {
        background-color: green;
        padding: 0 2px;
    }
}

#actionButtons {
    display: flex;
    justify-content: flex-end;
}

.md-scrollbar {
    &::-webkit-scrollbar-thumb {
        background: grey !important;
      }
}

button {
border-radius: 5px;        

}
