.bottomBar {
  background-color: rgb(4, 179, 19);
  grid-row: 3;
  grid-column: 1 / span 2;
  min-height: 20vh;

  .player {
    display: flex;

    img {
      width: 200px;
      max-width: 200px;
      height: auto;
    }

    .controls-container {
      width: 100%;
      padding: 0 20px;

      &-seekbar {
        & input[type="range"] {
          width: 100%;
        }

        & > p {
          $height: 60px;
          height: $height;
          line-height: $height;
          font-size: 30px;
        }
      }

      &-buttons {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 20px;
        // position:relative;
        padding: 20px;

        & .playPause {
          text-align: center;
          cursor: pointer;
        }

        .volume-control {
          display: flex;

          & .mutePlayer-container {
            cursor: pointer;
            margin-right: 20px;
          }

          & > input {
            flex: auto;
          }
        }

        & figure {
          cursor: pointer;
          text-align: center;

          & i {
            font-size: 50px;
          }

          &:hover {
            & i {
              color: $color-secondary-1-2;
            }
          }
        }
      }
    }
  }
  .thumbnail-container {
    width: 200px;
    height: 200px;
  }
}

.active > i{
  color:rgb(58, 58, 58);

  &:hover{
    color:rgb(58, 58, 58) !important;
  }
}