.rightBar {
  grid-row: 1 / span 3;
  border-left: 3px solid $color-primary-0;
  background-color: $color-primary-3;
  height: 100%;
  .rightBarTop {
    display: flex;
    height: 50%;
  }

  .rightBarBottom {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .queueContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .queueHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  tbody {
    & > div {
      display: flex;
      flex-direction: column;
    }
  }
  tr {
    display: flex;
  }
  td {
    align-content: flex-start;
    &:nth-child(1) {
      width: 70%;
      & > div > div:first-child {
        height: 20px;
        overflow: hidden;
      }
    }
    &:nth-child(2) {
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &:nth-child(3) {
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .md-button {
    background-color: rgba(255, 255, 255, 0.822);
    &.md-theme-default.md-raised:not([disabled]).md-accent {
      background-color: transparent;
    }

    &-content {
      &:hover {
        color: $color-secondary-1-1;
      }
    }
  }
  .md-table {
    &-row {
      &:hover {
        & p,
        div {
          color: $color-secondary-1-1;
        }
      }
    }

    &-cell-container {
      padding: 6px 10px !important;
      cursor: default;
    }
  }
}

.rightBar * {
  background-color: inherit !important;
}
