#searchComponent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/Ljudio_logo_Large.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 75%;

  .headers {
    width: 95%;
    display: grid;
    grid-template-columns: 57.5fr 23fr 23fr 13fr;
    margin: 20px auto 0 auto;
    border-bottom: 4px $color-secondary-1-3 solid;

    & > h3:first-child {
      margin-left: 20px;
    }
  }

  #albumHeaders {
    grid-template-columns: 76fr 38fr 28fr;
  }

  #artistHeaders {
    grid-template-columns: 1fr;
  }

  #playlistHeaders {
    grid-template-columns: 1fr;
  }

  .mediaContainer {
    color: white;
    border-bottom: 1px gray solid;
    width: 100%;
    margin: auto;
    height: 50px;
  }

  .listButton {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
    height: 100%;
    text-align: left;
    justify-content: space-between;
    // background-color: rgb(27, 27, 27);
    border: none;

    & > p {
      font-size: 14px;
      //color: rgb(196, 196, 196);
      margin: auto 0 auto 0;

      &:first-child {
        margin-left: 20px;
      }
    }

    &:hover {
      p {
        color: $color-secondary-1-1;
      }
    }
  }

  #albumButton {
    grid-template-columns: 6fr 3fr 2fr;
  }

  #artistButton {
    grid-template-columns: 1fr;
  }

  #playlistButton {
    grid-template-columns: 1fr;
  }

  #searchbox {
    width: 80%;
    min-height: 50px;
    margin: 30px auto 10px auto;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
    //color: rgb(51, 51, 51);

    &:focus {
      outline: none;
    }
  }

  .md-tabs-navigation {
    display: flex;
    justify-content: center;
  }

  #tab-container {
    margin-top: 20px;
    //background-color: rgb(27, 27, 27);
    z-index: 0;
  }

  button {
    //color: rgb(196, 196, 196);
    font-size: 20px;
  }

  #searchResultsContainer {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
  }

  #searchResults {
    width: 95%;
    overflow-y: scroll;
    margin: 0 auto;
  }
  .md-active {
    & .md-button-content {
      color: $color-secondary-1-1;
    }
  }
}
