* {
  padding: 0;
  margin: 0;
  font-family: $mainFont;
  font-weight: 500;
  background-color: $color-primary-4;
  color: $mainFontColor;
}
.homeContainer {
  display: grid;
  grid-template-columns: 200px auto 400px;
  grid-template-rows: 163px 600px auto;
  height: 100%;
}

.leftBar {
  /* @TODO: Remove all colors */
  grid-row: 1 / span 2;
}

.centerContent {
  position: relative;
  display: flex;
  grid-row: 1 / span 2;
}

#yt-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.md-scrollbar {
  &::-webkit-scrollbar-track {
    background: inherit !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-secondary-1-2 !important;
  }
}
